* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  position: relative;
  background: #E1FF8F;
}

.header__star {
  position: absolute;
}

.header__star--1 {
  top: 94px;
  left: 63px;
}

.header__star--2 {
  top: 69px;
  left: 156px;
}

.header__star--3 {
  top: 538px;
  right: 448px;
}

.header__star--4 {
  top: 568px;
  right: 365px;
}

.header__star--5 {
  top: 0;
  right: 0;
}

.scroll-bar {
  padding: 0px;
  gap: 10px;
  border: 1px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  display: flex;
  align-items: center;
  height: 90px;
  overflow: hidden;
}

.scroll-bar__text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  padding-right: 51px;
  padding-left: 51px;
  white-space: nowrap;
}

.header__content {
  padding-top: 196px;
  padding-bottom: 156px;
  display: flex;
  gap: 48px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.header__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}

.header__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}

.header__button {
  text-decoration: none;
  background: #202027;
  width: 247px;
  height: 66;
  border-width: 1px;
  gap: 10px;
  border-radius: 60px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 16px;
  padding-left: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;
}

.header__button:hover {
  background-color: white;
  color: black;
}

.about-games {
  background-color: #202027;
  position: relative;
  padding-bottom: 50px;
}

.about-games__star {
  position: absolute;
}

.about-games__star--1 {
  top: 77px;
  right: 0;
}

.about-games__star--2 {
  top: 770px;
  left: 28px;
}

.about-games__star--3 {
  top: 822px;
  left: 45px;
}

.about-games__title {
  padding-top: 94px;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
}

.about-games__description {
  margin-top: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #FFFFFF;
}

.games__group--1 {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
}

.games__group--2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
}

.game-card {
  background-color: white;
  width: 378px;
  border-radius: 30px;
  padding-bottom: 36px;
}

.game-card__link {
  text-decoration: none;
}

.game-card__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 35px;
}

.game-card__number {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: bottom;
  color: #202027;
}

.game-card__title {
  text-decoration-line: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #202027;
}

.footer {
  display: none;
}

/*# sourceMappingURL=style.css.map */